* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCECDF;
    color: #333;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.navbar {
    width: 100%;
    font-family: "Luckiest Guy";
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    color: #9e122c;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 20;
    position: relative;
  }
  
  .navbar_menu {
    width: 100%;
    display: flex;
    background-color: #fbcb77;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-radius: 50px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Luckiest Guy";
  }
  
  .navbar_title {
    font-size: 4.5rem;
    line-height: 1;
    width: 100%;
    text-align: center;
    font-family: "Luckiest Guy";
  }
  
  .navbar p {
    cursor: pointer;
    font-family: "Luckiest Guy";
  }
  
  .menu_button {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #9e122c;
    cursor: pointer;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fbcb77;
    transition: right 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Luckiest Guy";
    color: #9e122c;
    z-index: 1000;
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #9e122c;
    cursor: pointer;
  }
  

h1 {
    font-size: 36px;
    color: #b02927;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product {
    background-color: #EE6A43;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    width: 320px;
    height: 410px;
}

.product img {
    max-width: 100%;
    border-radius: 50px;
}

.product h2 {
    font-family: "Luckiest Guy";
    font-size: 30px;
    margin: 2px 0;
    color: #9E122C;
}

.product h4{
    font-family: "Poppins";
    color: black;
}

.product p {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.block1 h2 {
  font-family: "Luckiest Guy";
}

.block1 {
  background-color: #FBCB77;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  font-family: "Poppins";
  font-weight: 500;
}

.block2 {
  display: flex;
  background-color: #9E122C;
  width: 100%;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 800;
  justify-content: center;
  align-items: center;
}

.block2 a:link {
  color:#FBCB77;
}

.footer-social {
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
  text-align: center;
  display: flex;
  column-gap: 50px;
}
