body {
  margin: 0;
  padding: 0;
  background: #fcecdf;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar a:hover {
  scale: 1.1;
  transition: 0.3s;
}

.footer a:hover {
  scale: 1.1;
  transition: 0.3s;
}

.navbar {
  width: 100%;
  font-family: "Luckiest Guy";
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  color: #9e122c;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 20;
  position: relative;
}

.navbar_menu {
  width: 100%;
  display: flex;
  background-color: #fbcb77;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-radius: 50px;
  font-size: 1.5rem;
  line-height: 2rem;
}

.navbar_title {
  font-size: 4.5rem;
  line-height: 1;
  width: 100%;
  text-align: center;
}

.navbar p {
  cursor: pointer;
}

.menu_button {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #9e122c;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fbcb77;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Luckiest Guy";
  color: #9e122c;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar_menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sidebar.open {
  right: 0;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #9e122c;
  cursor: pointer;
}

.hero_desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  position: relative;
}

.hero_mobile {
  display: none;
}

.hero_button {
  background-color: #fbcb77;
  color: #9e122c;
  font-size: 1.5rem;
  font-family: Poppins;
  padding: 20px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 232px;
  margin-top: -50px;
  font-weight: bold;
}

.hero_button:hover {
  background-color: #9e122c;
  color: #fcecdf;
}

.hero_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  z-index: 10;
}

.hero_button_mobile {
  display: none;
}

.hero_text_line {
  color: #9e122c;
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: bold;
  line-height: 1.25;
  position: relative;
  z-index: 10;
}

.hero_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hero_price {
  font-family: "Post No Bills Jaffna";
  color: #fcecdf;
  background-color: #9e122c;
  border-radius: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
}

.about_us {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  margin-top: 100px;
  font-weight: 500;
}

.about_title {
  font-size: 4.5rem;
  line-height: 1;
  color: white;
  font-family: "Luckiest Guy", sans-serif;
  height: 150px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ee6a43;
  display: flex;
}

.about1 {
  width: 100%;
  display: flex;
}

.about2 {
  width: 100%;
  display: flex;
  margin-top: 0;
  text-align: right;
}

.about_text {
  font-family: "Poppins", sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
  color: #9e122c;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.about_image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_us_mobile {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}

.gallery img {
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}

.gallery_title {
  font-size: 4.5rem;
  line-height: 1;
  color: white;
  font-family: "Luckiest Guy", sans-serif;
  height: 150px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ee6a43;
  display: flex;
}

.gallery_row_1 {
  width: 50%;
  @media (max-width: 1024px) {
    width: 80%;
    flex-direction: column;
  }
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.gallery_row_2 {
  width: 50%;
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    width: 80%;
    flex-direction: column;
  }
  justify-content: center;
  align-items: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}

.testimonial_title {
  font-size: 4.5rem;
  line-height: 1;
  color: white;
  font-family: "Luckiest Guy", sans-serif;
  height: 150px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ee6a43;
  display: flex;
}

.testimonial_row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.testimonial_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  padding: 0 50px;
  @media (max-width: 1024px) {
    margin-top: 100px;
  }
}

.testimonial_container img {
  position: absolute;
  top: -80px;
}

.testimonial_card {
  width: 100%;
  max-width: 400px;
  @media (max-width: 768px) {
    max-width: 300px;
  }
  height: fit-content;
  min-height: 300px;
  background-color: #fbcb77;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 20px 20px;
  margin: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.testimonial_container:hover {
  transition: transform 0.3s;
  transform: translate(0, -10px);
}

.testimonial_text {
  font-family: "Poppins", sans-serif;
  color: #9e122c;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 20px;
  @media (max-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.testimonial_name {
  font-family: "Luckiest Guy", sans-serif;
  color: #9e122c;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .testimonial_title {
    font-size: 3rem;
    height: 100px;
  }

  .testimonial_container {
    padding: 0 30px;
  }

  .testimonial_card {
    padding: 60px 15px 15px;
    height: 350px;
  }

  .testimonial_text {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .testimonial_name {
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .testimonial_title {
    font-size: 2.5rem;
    height: 80px;
  }

  .testimonial_row {
    flex-direction: column;
    margin-top: 50px;
  }

  .testimonial_container {
    padding: 0 20px;
  }

  .testimonial_card {
    padding: 40px 10px 10px;
  }

  .testimonial_text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .testimonial_name {
    font-size: 1.1rem;
  }
}

.footer {
  width: 100vw;
  margin-top: 50px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.footer_mobile {
  display: none;
}

.footer h2 {
  font-family: "Luckiest Guy";
}

.block1 {
  background-color: #fbcb77;
  display: flex;
  justify-content: center;
  column-gap: 200px;
  align-items: center;
  height: 60px;
  color: #9e122c;
}

.sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  font-family: "Poppins";
  font-weight: 500;
}

.block2 {
  display: flex;
  background-color: #9e122c;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 800;
  justify-content: center;
  align-items: center;
  color: #fbcb77;
}

.block2 a:link {
  color: #fbcb77;
}

.footer-social {
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
  text-align: center;
  display: flex;
  column-gap: 80px;
}

@media (max-width: 1024px) {
  .navbar_menu {
    display: none;
  }

  .hero_desktop {
    display: none;
  }

  .hero_text_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 20px 0 20px;
  }

  .hero_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero_button_mobile {
    display: block;
    background-color: #fbcb77;
    color: #9e122c;
    font-size: 1.25rem;
    padding: 20px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    margin-top: -20px;
    font-weight: bold;
    font-family: Poppins;
  }

  .hero_button_mobile:hover {
    background-color: #9e122c;
    color: #fcecdf;
  }

  .navbar_title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
  }

  .menu_button {
    display: block;
  }

  .hero_text_line {
    font-size: 2.5rem;
  }

  .about_us {
    display: none;
  }

  .about_us_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .about1_mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about_image {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about_text {
    margin-top: 50px;
    text-align: justify;
    width: 80%;
    padding: 0;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

  .about2_mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about_title_mobile {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    color: white;
    font-family: "Luckiest Guy", sans-serif;
    height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ee6a43;
    display: flex;
  }

  .footer_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100vw;
    overflow: hidden;
  }

  .block1_mobile {
    background-color: #fbcb77;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy";
    color: #9e122c;
  }

  .footer_contact_mobile {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .sosmed_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .block2_mobile {
    display: flex;
    width: 100%;
    background-color: #9e122c;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-weight: bold;
    height: 50px;
  }

  .footer-social_mobile {
    justify-content: center;
    text-align: center;
    display: flex;
    column-gap: 20px;
  }

  .block2_mobile a:link {
    color: #fbcb77;
  }
}
